<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <input class="form-control mb-4 rounded-pill border-2" type="file" (change)="onFileChange($event)"
        multiple="false" />
    </div>
  </div>
  <div class="row mt-4 mx-5" [ngClass]="isLoaded? '':'d-none'">
    <div class="col-md-12 mb-4 d-flex justify-content-end">
      <app-button [btnText]="this.btnText[0]" (btnClick)="addRow()"></app-button>
    </div>
  </div>
  <div class="mt-2 mx-3 row" [ngClass]="isLoaded? 'box':'d-none'">
    <table class=" border border-4">
      <thead>
        <tr>
          <th>Zone</th>
          <th>Country</th>
          <th>Network Operator</th>
          <th>Network Code</th>
          <th>Increment</th>
        </tr>
      </thead>
      <tr *ngFor="let row of data; let rowIndex=index;">
        <td class="col-md-2" *ngFor="let val of row | keyvalue" [ngClass]="(val.key =='2') ? 'col-md-4':'col-md-2'">
          <app-text [value]=val.value [row]=rowIndex [col]=val.key (data)="getChildData($event)">
          </app-text>
        </td>
        <td class="col-md-1"> <button class="btn btn-outline-dark" (click)="deleteRow(rowIndex)">
            <i class=" bi bi-trash-fill"></i>
          </button></td>
      </tr>
    </table>
  </div>
  <div class="row mt-4 mx-5">
    <div class="col-md-12 mb-4 d-flex justify-content-end">
      <app-button [ngClass]="isLoaded? '':'d-none'" [btnText]="this.btnText[1]" (btnClick)="confirm()"></app-button>
      <app-button [ngClass]="isLoaded? '':'d-none'" class="mx-2" [btnText]="this.btnText[2]" (btnClick)="cancel()">
      </app-button>
    </div>
  </div>
</div>
