.form-control:focus {
  border-color: #965fe9;
  box-shadow: none;
  -webkit-box-shadow: none;
}

table {
  border-collapse: separate;
  border-spacing: 0.1em;
}
th {
  border-radius: 0.7rem;
  height: 1rem;
}
