<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <input class="form-control mb-4 rounded-pill border-2" type="file" (change)="onFileChange($event)"
        multiple="false" />
    </div>
  </div>
  <div class="row mt-4 mx-5" [ngClass]="isLoaded? '':'d-none'">
    <div class="col-md-12 mb-4 d-flex justify-content-end">
      <app-button [btnText]="this.btnText[0]" (btnClick)="addRow()"></app-button>
    </div>
  </div>
  <div class="container-fluid" [ngClass]="isLoaded? 'tariff-box':'d-none'">
    <div class="row">
      <!-- <div class="col-md-1">No:</div> -->
      <div class="col-md-2">Zone</div>
      <div class="col-md-2">Country</div>
      <div class="col-md-3">Network Operator</div>
      <div class="col-md-2">Network Code</div>
      <div class="col-md-2">Increment Type</div>
    </div>
    <form [formGroup]="tariffForm">
      <div formArrayName="tariffItem">
        <div class="row mb-3" *ngFor="let item of TariffItem().controls;index as rowIndex" [formGroupName]="rowIndex">
          <!-- <div class="col-md-1">{{rowIndex+1}}</div> -->
          <div class="col-md-2 form-group">
            <input class="form-control rounded-pill" type="text" (change)="changeEntries($event,rowIndex)"
              formControlName="zone">
          </div>
          <div class="col-md-2 form-group">
            <input class="form-control rounded-pill" type="text" (change)="changeEntries($event,rowIndex)"
              formControlName="country">
          </div>
          <div class="col-md-3 form-group">
            <input class="form-control rounded-pill" type="text" (change)="changeEntries($event,rowIndex)"
              formControlName="network_operator">
          </div>
          <div class="col-md-2 form-group">
            <input class="form-control rounded-pill" type="text" (change)="changeEntries($event,rowIndex)"
              formControlName="network_code">
          </div>
          <div class="col-md-2 form-group">
            <input class="form-control rounded-pill" type="text" (change)="changeEntries($event,rowIndex)"
              formControlName="increment_type">
          </div>
          <div class="col-md-1"><button type="button" class="btn btn-outline-dark" (click)="deleteRow(rowIndex)">
              <i class=" bi bi-trash-fill"></i>
            </button></div>
        </div>
      </div>
    </form>

  </div>

  <div class="row mt-4 mx-5">
    <div class="col-md-12 mb-4 d-flex justify-content-end">
      <app-button [ngClass]="isLoaded? '':'d-none'" [btnText]="this.btnText[1]" (btnClick)="confirm()"></app-button>
      <app-button [ngClass]="isLoaded? '':'d-none'" class="mx-2" [btnText]="this.btnText[2]" (btnClick)="cancel()">
      </app-button>
    </div>
  </div>
</div>
