<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col-lg-4 col-md-7 col-sm-8 col-xs-8 mx-auto box">
            <h2>Login</h2>
          <form [formGroup]="userDetails" class="text-center">
              <!--Email-->

            <div class="form-group mb-4">
              <div class="form-floating">
                <input
                  type="email"
                  formControlName="email"
                  class="form-control"
                  id="email-id"
                  placeholder="Email"
                  [ngClass]="{'is-invalid':userDetails.controls['email'].touched &&
                  userDetails.controls['email'].invalid,'is-valid':userDetails.controls['email'].valid}"
                />
                <label for="email-id" class="form-label">Email:</label>
              </div>
  
              <small
                class="alert text-danger p-0"
                role="alert"
                *ngIf="
                  userDetails.controls['email'].touched &&
                  userDetails.controls['email'].invalid
                "
              >
                Please provide a valid email!
              </small>
            </div>
            
              <!--Email-->

              <!--Password-->
              <div class="form-group  mb-5">
                <div class="form-floating">
                  <input
                    type="password"
                    formControlName="password"
                    class="form-control"
                    id="password-1"
                    placeholder="Password"
                    [ngClass]="{'is-invalid':userDetails.controls['password'].touched &&
                    userDetails.controls['password'].invalid,'is-valid':userDetails.controls['password'].valid}"
                  />
                  <label for="password-1" class="form-label">Password:</label>
    
                </div>
                <small
                  class="alert text-danger p-0"
                  role="alert"
                  *ngIf="
                    userDetails.controls['password'].touched &&
                    userDetails.controls['password'].invalid
                  "
                >
                Your password must be 8-20 characters long, can contain letters, special characters and numbers, and must not contain spaces, or emoji.
                </small>
              </div>
            
            <!--Password-->

            <!--Submit Button-->
            <div class="form-group mb-4"><button
              type="submit"
              class="btn text-light"
            >
            Login
            </button></div>
            <!--Submit Button-->

          </form>
          <small class="p-2">Don't have an account?</small>
          <a class="text-center" routerLink="/signup">Click here to Signup</a>
        </div>
      </div>
</div>