<h1>Angular 8 Image Upload with Preview - ItSolutionStuff.com</h1>
<div class="container">
    <div class="row col-md-6">
        <form class="text-center" [formGroup]="myForm" (ngSubmit)="submit()">
            <div class="form-group position-relative">
                <label for="name">Name</label>
                <input 
                    formControlName="name"
                    id="name" 
                    type="text" 
                    class="form-control">
                <!-- <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                    <div *ngIf="f.name.errors.required">Name is required.</div>
                    <div *ngIf="f.name.errors.minlength">Name should be 3 character.</div
                </div> -->
            </div>
        
            <div class="form-group mb-5 position-relative">
                <label for="file">File</label>
                <input 
                    formControlName="file"
                    id="file" 
                    type="file" 
                    class="form-control"
                    (change)="onFileChange($event)">
             <!-- <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
        
                    <div *ngIf="f.file.errors.required">File is required.</div>
        
                </div> -->
            </div>
            <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px">
        
            <button class="btn btn-primary position-relative " type="submit">Submit</button>
        
        </form>
    </div>
</div>
