.navbar{
    background-image: linear-gradient(to right,#0BE392,#0BE392);
    color: white;
    /* color: white; */
}

/* .box1{
    height: 1000px;
background: url('../assets/pexels-lumn-167699.jpg') ;
background-repeat: no-repeat;
background-size: 100% 100%;
background-color: grey;
} */
.box1{
    /* height: 100vh; */
    background-color: rgba(77, 179, 179, 0.815);
}