* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html, body {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  line-height: 1.6;
  font-family: sans-serif;
}

.navbar{
  background-color: #965fe9;
  box-shadow: 4px 3px 8px 1px #969696;
  height: 6rem;
  margin-bottom: 2.5rem;
}

h1{
  color: white;
}

.box1{
  height: 100vh;
}

a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: white;
}

li:hover
{
background-color:rgb(0, 0, 0);
color: white;
text-decoration: none;
}
/*  
li:active{
  color: white;
} */
