<!-- Navigation bar-->
<nav class="navbar static-top d-flex">
  <div class="d-flex justify-content-center">
    <a class="navbar-brand mx-3" href="#">
      <img src="../assets/id-logo.png" alt="imagedash-logo" height="55">
    </a>
    <h1>{{title}}</h1>
  </div>

  <ul class="navbar-nav d-flex flex-row px-5">
    <li class="nav-item p-4" *ngIf="!isLoggedIn()">
      <a class="nav-link text-light" routerLink="/signup">Signup</a>
    </li>
    <li class="nav-item p-4" *ngIf="!isLoggedIn()">
      <a class="nav-link text-light" routerLink="/login">Login</a>
    </li>
    <li class="nav-item p-4">
      <a class="nav-link text-light" routerLink="/uploader">Upload</a>
    </li>
    <!--Just temperory-->
    <li class="nav-item p-4">
      <a class="nav-link text-light" routerLink="/tariff">Tariff</a>
    </li>
    <!--Just temperory-->
    <li class="nav-item p-4" *ngIf="isLoggedIn()">
      <a class="nav-link text-light" (click)="logOut()" routerLink="/login">Logout</a>
    </li>
  </ul>
</nav>
<!--Navigation bar-->
<!--Router Outlet for components-->
<router-outlet></router-outlet>
<!--Router Outlet for components-->
<!--Footer-->
<!-- <footer class="mt-5 footer w-100">
  <div class="m-auto">
    <p class="m-0 text-center">&copy; Imagedash</p>
  </div>
</footer> -->
<!--Footer-->
