<div class="container-fluid mb-5">
  <h4>Network Operator Name</h4>
  <form [formGroup]="details">
    <div class="row mb-5">
      <div class="col-md-4">
        <input class="form-control rounded-pill border-2" type="text" name="network-operator" id="operator"
          placeholder="Enter Network Operator Name" formControlName="network_operator">
      </div>
    </div>
    <div class="row ">
      <div formGroupName="zone_details">
        <div class="row">
          <div class="col-md-2 mb-5 ">
            <input class="form-control rounded-pill border-2" type="text" name="zone" id="zone" placeholder="Zone"
              formControlName="zone_name">
            <small></small>
          </div>
          <div class="col-md-2 mb-3">
            <input class="form-control rounded-pill border-2" type="text" name="price" id="price" placeholder="$0.00"
              formControlName="zone_price">
          </div>
        </div>
      </div>
      <!-- Add Button -->
      <div class="col-md-4 mb-4 mt-4">
        <app-button [btnText]="this.btnText[0]" [isDisabled]="!this.details.valid" (btnClick)="add()"></app-button>
      </div>
    </div>
  </form>
</div>

<!-- Zone Details-->
<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped table-bordered ">
        <thead>
          <tr>
            <th>Zone</th>
            <th>Price/MB</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of zone_data">
            <td>{{data.zone_details["zone_name"] }} </td>
            <td>{{data.zone_details["zone_price"] | currency}}</td>
            <td>
              <button class="btn btn-outline-danger" (click)="remove(data)">
                <i class="bi bi-trash-fill"></i>
              </button>
              <!-- <app-button class="btn btn-outline-primary" (btnClick)="remove(data)">
              </app-button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-tariff></app-tariff>
